
@{
    ViewBag.Title = "Part1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    //总页数
    var pageTotal = 10;
    $(function () {
        //页面加载后，默认显示第1页
        $("#page").append(showPages(1, pageTotal))
    })

    //生成分页HTML代码
    function showPages(pageIndex, pageTotal) {
        var str = "",
            prePageIndex = (pageIndex - 1) <= 0 ? pageTotal : (pageIndex - 1),
            nexPageIndex = (pageIndex + 1) > pageTotal ? 1 : (pageIndex + 1),
            pre = '<li><a href="javascript:changePage(' + prePageIndex + ')" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>',//上一页
            next = '<li><a href="javascript:changePage(' + nexPageIndex + ')" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>',//下一页
            startPageIndex = 0,//起始页码
            endPageIndex = 0;//结束页码

        if (pageIndex < 3) {//页码小于3时
            startPageIndex = 1;
            endPageIndex = 5;
        } else if (pageIndex > pageTotal - 3) {//页码大于7时
            startPageIndex = pageTotal - 4;
            endPageIndex = pageTotal;
        } else {//其它情况
            startPageIndex = pageIndex - 2;
            endPageIndex = pageIndex + 2;
        }

        //生成页码
        for (var i = startPageIndex ; i <= endPageIndex; i++) {
            str += '<li class=\"' + (i == pageIndex ? 'active' : '') + '\"><a href="javascript:changePage(' + i + ')">' + i + '</a></li>';
        }
        str = pre + str + next;

        return '<ul class="pagination">' + str + '</ul>';
    }

    //页数点击事件
    function changePage(i) {
        $("#page").html('');
        $("#page").append(showPages(i, pageTotal))
    }
</script>

<div class="container-fluid" style="margin-left:15px">
    <h3>Bootstrap分页样式(无事件)</h3>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="active"><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>

    <h3>简单前端分页效果：</h3>
    <div id="page"></div>
</div>

