
@{
    ViewBag.Title = "Part2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    //总页数
    var pagetotal = 20;
    $(function () {
        //显示第几页，总页数
        $("#page").append(Paging(1, pagetotal))
    })

    //页数点击事件
    function changePage(i) {
        $("blockquote p").text("This is page " + i);
        $("#page").html('');
        $("#page").append(Paging(i, pagetotal))
    }
</script>

<div class="container-fluid" style="margin-left:15px">
    <h3>动态显示内容分页效果：</h3>

    <blockquote style="margin-bottom:0px">
        <p>This is page 1</p>
    </blockquote>
    <div id="page"></div>
</div>